* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Inter", sans-serif;

  --background-primary: #f4f5fb;
  --background-secondary: #fff;

  --color-brand: #ca3884;
  --color-brand-hover: #a52c6b;
  --color-danger: #c93847;

  --content-primary: #080b12;
  --content-secondary: #374151;
  --content-tertiary: #9ca3af;
  --always-white: #fff;

  --border-primary: #d1d5db;
  --border-hover: #b9c2d0;

  --title: 700 1.5rem/2rem var(--font-family);
  --label: 600 1rem/1.25rem var(--font-family);
  --paragraph: 500 1rem/1.25rem var(--font-family);
  --link: 500 1rem/1rem var(--font-family);
}

html,
body {
  background-color: var(--background-primary);
}

h1 {
  font: var(--title);
}

span {
  font: var(--paragraph);
}

*::placeholder {
  font: 400 1rem/140% var(--font-family);
  color: var(--content-tertiary);
}

ul[role="list"] {
  list-style: none;
}

main {
  width: min(390px, 100% - 2rem * 2);
  margin-inline: auto;
  margin-top: 78px;
}

main header {
  nav {
    display: none;
  }

  & > div {
    display: grid;
    gap: 1rem;

    margin-block: 0px 44px;
  }
}

main form {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  & input,
  & button {
    width: 100%;
  }

  & input {
    padding-block: 11px;
    padding-left: 1.125rem;
    border-radius: 0.75rem;
    border: 2px solid var(--border-primary);

    &:focus {
      outline: none;
      border: 2px solid var(--color-brand);
    }
  }

  & button {
    background-color: var(--color-brand);
    color: var(--always-white);
    border: none;
    border-radius: 0.75rem;
    font: var(--label);

    padding: 0.625rem 1.5rem;
  }
}

@media (width >= 1366px) {
  main {
    width: min(1366px, 100% - 7.5rem * 2);
    margin-inline: auto;
    margin-top: 25px;

    display: grid;
    justify-content: center;
  }

  main header {
    nav {
      display: flex;
      justify-content: center;
    }

    & > div {
      margin-block: 62px 44px;
    }
  }

  main form {
    display: flex;
    gap: 1rem;

    & input {
      width: 451px;
      padding-block: 11px;
      padding-left: 1.125rem;
      border-radius: 0.75rem;
      border: 2px solid var(--border-primary);

      &:hover {
        outline: none;
        border: 2px solid var(--border-hover);
      }

      & input:focus {
        outline: none;
        border: 2px solid var(--color-brand);
      }
    }

    & button {
      width: 160px;
      background-color: var(--color-brand);
      color: var(--always-white);
      border: none;
      border-radius: 0.75rem;
      font: var(--label);

      padding: 0.625rem 1.5rem;
    }
  }
}
